.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 20px;
}

.add-goal-item-input-button {
	display: grid;
	grid-template-columns: auto 114px;
	margin-top: 60px;
}

.div-goal-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	margin-top: 40px;
}

@media (max-width: 860px) {
	.div-goal-items {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		margin-top: 30px;
	}
}
